aiohttp==3.9.3
aiosignal==1.3.1
async-timeout==4.0.3
attrs==23.2.0
beautifulsoup4==4.12.3
blinker==1.7.0
Brotli @ file:///C:/Windows/Temp/abs_63l7912z0e/croots/recipe/brotli-split_1659616056886/work
bs4==0.0.2
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
dnspython==1.16.0
filelock @ file:///C:/b/abs_f2gie28u58/croot/filelock_1700591233643/work
Flask==3.0.2
frozenlist==1.4.1
fsspec==2024.2.0
GeneralNewsExtractor==0.1.3
gmpy2 @ file:///C:/ci/gmpy2_1645456279018/work
gne==0.3.0
idna==3.6
importlib_metadata==7.0.2
itsdangerous==2.1.2
Jinja2==3.1.3
joblib==1.3.2
lightning-utilities==0.10.1
lxml==5.1.0
MarkupSafe==2.1.5
mkl-fft @ file:///C:/b/abs_19i1y8ykas/croot/mkl_fft_1695058226480/work
mkl-random @ file:///C:/b/abs_edwkj1_o69/croot/mkl_random_1695059866750/work
mkl-service==2.4.0
mpmath @ file:///C:/b/abs_7833jrbiox/croot/mpmath_1690848321154/work
multidict==6.0.5
networkx @ file:///C:/b/abs_e6gi1go5op/croot/networkx_1690562046966/work
numpy~=1.24.3
packaging==24.0
pandas==2.0.3
pillow @ file:///C:/b/abs_e22m71t0cb/croot/pillow_1707233126420/work
pymongo==3.8.0
PySocks @ file:///C:/ci/pysocks_1605287845585/work
python-dateutil==2.9.0.post0
pytorch-lightning==2.2.1
pytz==2024.1
PyYAML==6.0.1
requests==2.31.0
scikit-learn~=1.3.0
scipy==1.10.1
simplejson==3.19.2
six==1.16.0
soupsieve==2.5
sympy @ file:///C:/b/abs_82njkonm7f/croot/sympy_1701397685028/work
threadpoolctl==3.3.0
torch==2.2.1
torchaudio==2.2.1
torchmetrics==1.3.1
torchvision==0.17.1
tqdm==4.66.2
tushare==1.4.3
typing_extensions @ file:///C:/b/abs_72cdotwc_6/croot/typing_extensions_1705599364138/work
tzdata==2024.1
urllib3==2.2.1
websocket-client==0.57.0
Werkzeug==3.0.1
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306167264/work
yarl==1.9.4
zipp==3.17.0

openai~=1.9.0
xgboost~=1.7.3